@import "Font.css";


* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}


.app {
  margin: 0;
  padding: 0;
  position: relative;
}

.navbar {
  background-color: #fca311;
  top: 0;
  position: fixed;
  display: flex;
  z-index: 99;
  width: 100%;
  padding: 15px 0;
  z-index: 9;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, .35);
}

.transition {
  background-color: white;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  box-shadow: 0px 10px 20px rgba(128, 128, 128, .25);
}


.logo {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logo span {
  color: #000000;
  padding: 0;
  font-size: 24px;
  font-weight: light;


}

.App-logo {

  pointer-events: none;
  width: 55px;
  filter: brightness(0%)
}

nav {
  margin-right: 45px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
  text-decoration: none;


}



.link {
  color: #000000;
  font-weight: light;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}